<div class="row">
	<div class="col-sm-8">
	<a href="/">&larr; Head back home</a>
	<div class="alert alert-success" ng-if="alert">{{alert}}</div>
	<h3> Add New Contact</h3>
		<form class="form" ng-submit="createContact()">
			<div class="form-group">
				<label>First Name</label>
				<input ng-model="firstName" type="text" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input ng-model="lastName" type="text" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Email</label>
				<input ng-model="email" type="text" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Address</label>
				<input ng-model="streetAddress" type="text" class="form-control" required>
			</div>
			<div class="form-group">
				<label>City</label>
				<input ng-model="city" type="text" class="form-control" required>
			</div>
			<div class="form-group">
				<label>State</label>
				<input ng-model="state" type="text" class="form-control" required>
			</div>
			<div class="form-group">
				<label>Zip</label>
				<input ng-model="zip" type="text" class="form-control" required>
			<div class="form-group">
				<label>Phone</label>
				<input ng-model="phone" type="text" class="form-control" required>
			</div>
			<div class= "form-group">
				<label>Notes</label>
				<textarea ng-model="notes" class="form-control" required></textarea>
			</div>
			<button class="btn btn-primary">Add Contact</button>
		</form>
	</div>
</div>

